.clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }

    &:after {
        clear: both;
    }
}

// invoice
.erp-account-dashboard {
    .module {
        margin-top: 20px;
        padding: 25px;
        border: 1px solid #eee;
        max-width: 80%;
        background: #fff;

        .header {
            margin-bottom: 25px;
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;
            .clearfix();

            .title {
                font-size: 22px;
                font-weight: 600;
                float: left;
            }

            .text {
                float: right;
                color: #999;
            }
        }

        &.income .chart-container {
            position: relative;
            .clearfix();

            .top-bar {
                height: 45px;
                background-color: #56b349;
                position: absolute;
                top: 0;
                left: 0;
            }

            .bar-text {
                margin: 65px 0 0 0;

                .price {
                    font-size: 24px;
                }

                .text {
                    text-transform: uppercase;
                    color: #999;
                    padding: 10px 0 0 0;
                }
            }

            .open-container {
                float: left;
                width: 66%;

                .open-area, .due-area {
                    float: left;
                }

                .open-area {
                    width: 49%;

                    .top-bar {
                        background-color: #EFB328;
                        width: 65%;
                    }
                }

                .due-area {
                    width: 42%;

                    .top-bar {
                        background-color: #e33d43;
                        width: 30%;
                        left: 33%;
                    }
                }
            }

            .paid-container {
                width: 33%;
                float: left;
                margin-left: 5px;

                .top-bar {
                    background-color: #56b349;
                    width: 33%;
                    left: 66%;
                }
            }
        }

        &.expense {

            .module-content {
                .clearfix();
                margin-top: 40px;
            }

            .expense-value {
                width: 33%;
                float: left;

                .price {
                    font-size: 24px;
                }

                .text {
                    text-transform: uppercase;
                    color: #999;
                    padding: 10px 0 0 0;
                }
            }

            .expense-cat-chart {
                width: 66%;
                float: left;
            }
        }
    }
}

.erp-accounting {

    &.chart-of-accounts {

        table.ac-chart-table {
            td.col-code,
            th.col-code {
                width: 5%;
            }

            td.col-name,
            th.col-name {
                width: 45%;
            }

            td.col-type,
            th.col-type {
                width: 25%;
            }
        }
    }
}

// accounting transaction table
table.erp-ac-transaction-table {
    width: 100%;
    table-layout: fixed;

    td, th {
        overflow: hidden;

        input, select, textarea {
            width: 100%;
        }
    }

    th.col-unit-price,
    th.col-amount,
    td.col-unit-price,
    td.col-amount {
        width: 120px;

        input {
            text-align: right;
        }
    }

    th.col-qty,
    td.col-qty {
        width: 50px;
    }

    th.col-action,
    td.col-action {
        width: 50px;
        padding: 8px 0;

        a {
            color: #ccc;
            text-decoration: none;

            &.move-row {
                cursor: move;
            }
        }
    }

    th.col-discount,
    td.col-discount {
        width: 85px;
    }
}

table.vendor-list-table {

    td.column-customer,
    th.column-customer {
        width: 35%;

        img {
            float: left;
            margin-right: 10px;
            margin-top: 1px;
        }
    }
}

// attachment field
.erp-ac-attachment-field {

    .erp-ac-attachment-wrap {
        background: url('../images/attachment.png') 5px 10px no-repeat;
        border: 1px dashed #DDD;
        float: left;
        width: 30%;
        padding: 10px 10px 10px 30px;
        color: #999;
        position: relative;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 10px;
    }
}

.bank-accounts {
    margin-top: 15px;

    .bank-account {
        h3 {
            margin: 10px 0;
            padding: 0 10px 5px 10px;

            .pull-right {
                float: right;
            }
        }
    }
}

.erp-ac-journal-entry {
    table.journal-table {
        thead th {
            border-bottom: 1px solid #E8E8E8;
            margin-bottom: 10px;
        }

        th {
            text-align: left;
        }

        th.invalid {
            color: red;
        }
    }
}

.invoice-preview-wrap {
    padding: 20px;
    background-color: #fff;
    max-width: 800px;
    margin-top: 50px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);

    hr {
        border-bottom: none;
        border-top: 1px solid #eee;
        margin: 20px 0;
    }

    .invoice-number {
        float: right;
        padding: 8px 20px;
        background-color: #eee;
        margin: -20px 0 20px 0;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        td,
        th {
            vertical-align: middle;
            padding: 12px;

            &.product-name {
                width: 30%;
            }
        }

        &.info-table {
            th,
            td {
                padding: 4px;
            }
        }
    }

    .company-logo {
        img {
            max-width: 120px;
            height: auto;
        }
    }
}